@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

*{
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Gentium Plus', serif;
}
body{
    background-color: #133831;
}

#register-btn{
    font-weight: 900;
    font-size: 3vh;
}
strong{
    color: #000;
    font-weight: 900;
    font-size: 5vh;
}
#login-slogan{
    color: #000;
    font-weight: 900;
    font-size: 5vh;
    text-align: center;
    padding: 3%;
}
#login-form{
    font-size: 3vh;
    font-weight: 600;
}
#logo-login{
    height: 100px;
}
#logo{
    height: 30px;
    width: 30px;

}
#nav{
    background-color: #e3f2fd;
}
.img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.okoa{
    padding-top:3%;
    padding-left: 3%;
}
.slogan{
    padding-bottom: 4%;
    padding-top: 2%;
    padding-left: 3%;
}
#order-btn{
    width: 130px;
    font-size: 3vh;
    font-weight: 700;

}
#order-btn:hover{
    background-color: #000;
    /* color: #fff; */
    color: #fdc730;
    outline: 1px solid #fdc730;
}
.order-btn{
    padding-left: 3%;

}
