{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false" data-interval="100">
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1605250715107-4328d0464f79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="d-block w-100 img" alt="Farm Machiney" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>Avoid the hustle and late ploughing, Okoa Farm.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1634433545797-c18dd170e75e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80"
          class="d-block img" alt="Machinery harvesting" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>Save time profitably; Spend time productively!”.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/2257455/pexels-photo-2257455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block img" alt="machinery harvesting" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>
            The early bird catches the worm.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="hero">
    <h3 class="okoa">Why OKOA FARM</h3>
    <div class="row">
      <div class="col-md-7 pb-5 slogan">
        We seek to create opportunities for everyone to be a part of our farming growth by availing the necessary
        required
        machinery and farm equipments to you.
      </div>
      <div class="col-md-4"></div>




    </div>
    <p class="order-btn">
      <button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark"
        id="order-btn">order</button>
    </p>

    <div class="row">
      <div class="row">
        <h4 class="text-center">Services</h4>

      </div>
      <div class="row">
        <p class="text-center">What people offer</p>
      </div>
      <div class="row p-4">
        <div class="col-md-4 text-center mb-4">
          <p>
            <i class="fa-solid fa-tractor text-danger fa-4x"></i>
          </p>
          <p>Ploughing</p>


        </div>

        <div class="col-md-4 text-center  mb-4">
          <p>
            <i class="fa-solid fa-forklift fa-3x"></i>
          </p>
          <p>Fork Lifting</p>


        </div>
        <div class="col-md-4 text-center  mb-4">
          <p>
            <i class="fa-solid fa-truck-pickup fa-3x"></i>
          </p>
          <p>Transport</p>


        </div>

        <div class="col-md-4 text-center  mb-4">
          <p>
            <i class="fa-solid fa-seedling text-success fa-3x"></i>
          </p>
          <p>Planting services</p>


        </div>

        <div class="col-md-4 text-center  mb-4">
          <p>
            <i class="fa-solid fa-certificate fa-3x text-warning"></i>
          </p>
          <p>Quality Services</p>


        </div>

        <div class="col-md-4 text-center  mb-4">
          <p>
            <i class="fa-solid fa-money-bill-1-wave fa-3x"></i>
          </p>
          <p>Low Pay-Rate</p>


        </div>
      </div>
    </div>
  </div>



  <div class="row mt-5">
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="https://cdn.thenigerianvoice.com/story/XGltYWdlc1xjb250ZW50XDU0MjAxOTEwNTQ1M19yNGQxMTE0OTgxLnBuZ3w3NzB8NDAwfDYvMTUvMjAyMg=="
            class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Planting as a service</h5>
          <p class="card-text">
            Worry less about your planting season.Tech Tract brings the solutions back to you at ease.
          </p>
          <a href="#!" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{% static 'images/plough.png' %}" class="img-fluid" alt="pluoghing machinery" id="image2"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Ploughing as a service</h5>
          <p class="card-text">
            Remember the early bird catches the worm, order from our owners and have it done on time.
          </p>
          <a href="#!" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{% static 'images/carriage.png' %}" class="img-fluid" id="image2"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Transport as a service</h5>
          <p class="card-text">
            Have a better option to ferry your heavy materials either farm products or far inputs. Hire with us.
          </p>
          <a href="#!" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--Section: Content-->
</div>

{% endblock content %}


<!-- 1. User Authentication.
2. Home module / Home page - An outline of the services provided by the application.
3. Machinery Owner panel- Enables the machinery owner to upload and set availability of 
 machinery.
4. Booking Module- For booking purposes.
5. Feedback module - User feedback.
6. Users panel - User can be able to see the available machinery for hire and the times they are available.

7. machine available or not()
8.User profile()
9.CRUD operations. 
10.Rating and review
11.Email feature-->