{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false" data-interval="100">
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1605250715107-4328d0464f79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="d-block w-100 img" alt="Farm Machiney" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>Avoid the hustle and late ploughing, Okoa Farm.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1634433545797-c18dd170e75e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80" class="d-block img" alt="Machinery harvesting" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>Save time profitably; Spend time productively!”.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/2257455/pexels-photo-2257455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block img" alt="machinery harvesting" />
        <div class="carousel-caption d-none d-md-block">
          <h5>OKOA TIME OKOA FARM</h5>
          <p>
            The early bird catches the worm.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="card col-md-4 p-3 mx-auto mb-4">
    <p>Available machinery & Equipments </p>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="https://cdn.thenigerianvoice.com/story/XGltYWdlc1xjb250ZW50XDU0MjAxOTEwNTQ1M19yNGQxMTE0OTgxLnBuZ3w3NzB8NDAwfDYvMTUvMjAyMg=="
            class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Tractor & planting machinery</h5>
          <p class="card-text">
            Worry less about your planting season.Tech Tract brings the solutions back to you at ease.
          </p>
          <a href="#!" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--Section: Content-->
</div>

{% endblock content %}