{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <a href="{% url '' %}" class="btn btn-secondary">Add Machinery</a>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>

{% endblock content %}


<!-- 1. User Authentication.
2. Home module / Home page - An outline of the services provided by the application.
3. Machinery Owner panel- Enables the machinery owner to upload and set availability of 
 machinery.
4. Booking Module- For booking purposes.
5. Feedback module - User feedback.
6. Users panel - User can be able to see the available machinery for hire and the times they are available.

7. machine available or not()
8.User profile()
9.CRUD operations. 
10.Rating and review
11.Email feature-->